.bOver {
  font-family: Verdana;
  font-size: 10px;
  font-weight: bold;
  color: white;

  padding-top: 3px;
  padding-left: 5px;
  padding-bottom: 3px;
  padding-right: 5px;

  background-color: #99ccff;

  cursor: pointer;
}

.bOut {
  font-family: Verdana;
  font-size: 10px;
  font-weight: bold;
  color: white;
  
  padding-top: 3px;
  padding-left: 5px;
  padding-bottom: 3px;
  padding-right: 5px;
  
  background-color: #5389bc;
  
  cursor: pointer;
}

.notsel {
    padding-left: 7px;
    font-family: Verdana;
    font-size: 11px;
    color: black;
    font-weight: 500;
	
}

.sel {
    padding-left: 7px;
    font-family: Verdana;
    font-size: 11px;
    color: black;
    font-weight: 600;
}
